.imgBx-item {
  position: relative;
}

.chatAvatar {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
}

.avatarLetter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fafafa;
  background-color: #8f9efe;
}

.details {
  flex: 1;
}

.listHead {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.time-item {
  font-size: 0.7em;
  color: #555;
  align-self: flex-end;
  margin-top: 5px;
  justify-self: flex-end;
  display: block;
  width: 100%;
}

.time-stamp {
  font-size: 13px;
  margin-left: 8px;
  color: rgb(74, 74, 74);
}

.read {
  color: #6b7df4;
  margin-left: 8px;
}

.delete-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.listHead h4 {
  max-width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.message_p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.message-item {
  width: 150px;
  font-size: 17px;
  margin: 7px 0;
  padding: 7px;
  border-radius: 15px;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.message-item p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.unread-count {
  margin-left: 8px;
  padding: 5px;
  color: rgb(74, 74, 74);
  border-radius: 40%;
}

.read-wrapper {
  display: flex;
  align-items: center;
}

.read-wrapper,
.delete-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.read-wrapper {
  margin-left: 8px;
}

.MuiIconButton-root.delete-chat {
  padding: 0;
}

.time-delete-wrapper {
  padding: 0;
}
