.chatBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f4f8ff;
  z-index: 10000;
}

.chatBox.hide {
  display: none;
}

.chatBox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6b7df4;
  opacity: 0.05;
}

.chat_header {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #6b7df4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat_header .imgcontent {
  display: flex;
  align-items: center;

  width: 100%;
  padding-left: 5px;
}

.chat_header .imgcontent .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #8f9efe;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: 24px;
}

.chat_header .imgcontent .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.chat_header .imgcontent h3 {
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  line-height: 1.1em;
  flex-grow: 1;
  margin-right: 5px;
  max-width: calc(100% - 55px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chat_header .imgcontent h3 span {
  font-size: 0.7em;
  font-weight: 400;
}

.chat_header .imgcontent .status {
  font-size: 0.7em;
  font-weight: 400;
  color: rgb(255, 255, 255); /* Цвет текста для статуса online */
}

.chat_header .imgcontent .material-symbols-outlined {
  margin-left: auto;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.time {
  display: block;
  font-size: 0.7em;
  width: 100%;
  color: #555;
}

.message.outgoing .time {
  text-align: right;
}

.message.incoming .time {
  text-align: left;
}

.back-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
  height: 100%;
  color: #ffffff;
}

.messageBox {
  padding: 10px;
  max-height: 485px;
  overflow-y: auto;
  margin-bottom: 60px;
  position: relative;
}

.message {
  max-width: 80%;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: #e0e0e0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.message p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.message.incoming {
  text-align: left;
  background-color: #ffaaaa;
  margin-right: auto;
}

.message.outgoing {
  text-align: right;
  background-color: #9bcfff;
  margin-left: auto;
}

/* Анимация надувания */
@keyframes bubbleUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.message.bubble-animation {
  animation: bubbleUp 0.4s ease forwards;
}

/* Определяем анимацию "пульс" */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Стили кнопки смены пользователя */
#toggleAlignment {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
  height: 100%;
  color: #ffffff;
  cursor: pointer;
}

#toggleAlignment:hover {
  animation: pulse 0.8s ease-in-out infinite; /* Анимация пульсации */
}

#createChatButton,
#back {
  transition: transform 0.2s ease;
}

#createChatButton:hover,
#back:hover {
  transform: scale(1.2);
}

.imgcontent {
  display: flex;
  align-items: center;
}

.imgBx {
  display: flex;
  align-items: center; /* Центрирует аватар */
  margin-right: 10px; /* Отступ между аватаром и именем */
}

#chatName {
  overflow: hidden; /* Скрываем переполнение */
  text-overflow: ellipsis; /* Добавляем многоточие для длинных строк */
  white-space: nowrap; /* Запрещаем перенос строк */
  margin: 0;
  max-width: 190px;
  display: 'flex';
  justify-content: 'space-between';
  align-items: 'center';
}

.checkmark {
  fill: rgb(255, 255, 255);
}
