@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; /* Применяем Open Sans ко всем элементам */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.container {
  position: relative;
  width: 340px;
  height: 600px;
  background: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

header {
  background: #6b7df4;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  .logo {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
  }
}

.action-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}

.profile-btn,
.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.5em;
  transition: color 0.3s;
  font-weight: 600;

  &:hover {
    color: #d4d4d4;
  }
}

.content {
  display: flex;
  width: 100%;

  .data {
    width: 100%;
    height: 510px;
    overflow-y: auto;
    font-family: 'Open Sans', sans-serif;
  }
}

.message_p b {
  background: #06d755;
  color: #fff;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75em;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.quickBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;

  .createChatButton {
    background: #6b7df4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: none;
    transition: color 0.3s, transform 0.3s;

    &:hover {
      background-color: #566cff;
      transform: scale(1.1);
    }
  }
}
