.time-delete-wrapper {
  display: flex;
  align-items: center;
}

.time-delete-wrapper .delete-chat {
  font-size: 24px;
  color: rgb(251, 171, 171);
  border-radius: 12px;
  cursor: pointer;
  margin-right: 8px;
  box-shadow: none; /* Начальное состояние без тени */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Плавная смена фона и тени */
}

.time-delete-wrapper .delete-chat:hover {
  color: rgb(255, 106, 106);
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Тень при наведении */
}

.time-delete-wrapper .time {
  font-size: 12px;
  color: #999;
}
