/* header.css */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b50919;
  padding: 10px 20px; /* Отступы для всего хедера */
  color: white;
  height: 70px;
}

.header-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.burger-menu,
.search-icon {
  cursor: pointer;
}

.burger-menu {
  margin-left: 20px; /* Отступ слева */
}

.search-icon {
  margin-right: 20px; /* Отступ справа */
}

.material-symbols-outlined {
  font-size: 32px;
  color: white;
}
