.messageInput {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 10px;
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
}

#messageInput {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  resize: none; /* Запрет на изменение размера вручную */
  overflow: hidden; /* Скрыть полосы прокрутки */
  box-sizing: border-box;
  margin-right: 5px;
  transition: height 0.2s ease; /* Плавный переход высоты */
  min-height: 40px; /* Минимальная высота для текстового поля */
}

/* Убираем выделение при фокусе */
#messageInput:focus {
  outline: none; /* Убираем обводку при фокусе */
  box-shadow: none; /* Убираем тень при фокусе */
}

/* Убираем выделение при фокусе */
#messageInput:focus {
  outline: none; /* Убираем обводку при фокусе */
  box-shadow: none; /* Убираем тень при фокусе */
}

.messageInput .send {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #6b7df4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2em;
  border-radius: 50%;
}

.send-btn {
  cursor: pointer;
  color: #6b7df4;
  font-size: 100px;
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s, transform 0.3s;
}

.send-btn:hover {
  transform: scale(1.2);
}

.send-btn .material-icons {
  font-size: 35px;
  line-height: 1;
}
