@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #e3f2fd;
}

/* расположение */
.simpleChat {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 700px;
  width: 500px;
  overflow: hidden;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.simpleChat header {
  display: flex;
  justify-content: center; /* Выравнивание по горизонтали (по центру) */
  align-items: center; /* Выравнивание по вертикали (по центру) */
  height: 90px;
  background: #b50919;
  padding: 16px 0;
  position: relative; /* Для позиционирования иконок */
}

.simpleChat header h2 {
  color: #fff;
  font-size: 1.4rem;
  margin: 0 40px; /* Отступы для иконок */
  text-align: center;
}

.simpleChat .user-icon {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: #fff; /* Цвет круга */
  border-radius: 50%; /* Делаем круг */
  top: 50%;
  transform: translateY(-50%); /* Центрируем иконку по вертикали */
}

.simpleChat .user-icon.left {
  left: 10px;
  border: 4px solid red;
}

.simpleChat .user-icon.right {
  right: 10px;
  border: 4px solid yellow;
}

.simpleChat .chatbox {
  height: 600px;
  overflow-y: auto;
  padding: 30px 20px 100px;
}

.chatbox {
  list-style-type: none; /* Убираем маркеры */
  padding: 0; /* Убираем отступы */
  margin: 0; /* Убираем внешние отступы */
  max-height: 600px; /* Ограничение высоты чат-бокса */
  overflow-y: auto; /* Прокрутка, если сообщений много */
}

.chatbox .chat {
  display: flex;
  margin: 20px 0; /* Отступы между сообщениями */
}

.chatbox .outgoing {
  justify-content: flex-start; /* Исходящие сообщения по левому краю */
}

.chatbox .incoming {
  justify-content: flex-end; /* Входящие сообщения по правому краю */
}

.chatbox .chat p {
  color: #000;
  max-height: 75%;
  max-width: 80%; /* Ограничение ширины сообщения */
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  word-wrap: break-word; /* Перенос слов, чтобы длинные сообщения не выходили за пределы */
}

/* Дополнительные стили для входящих сообщений */
.chatbox .incoming p {
  max-height: 75%;
  font-size: 1.4rem;
  padding: 12px 16px;
  color: #000;

  border-radius: 10px 10px 10px 0;
  background: #ffff93;
}

/* Дополнительные стили для исходящих сообщений */
.chatbox .outgoing p {
  border-radius: 10px 10px 0 10px;
  max-height: 75%;
  font-size: 1.4rem;
  padding: 12px 16px;
  color: #000;
  background: #fca4a3;
}

.simpleChat .chat-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  gap: 5px;
  background: #fff;
  padding: 5px 20px;
  border-top: 1px solid #ccc;
}

.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  max-height: 180px;
  font-size: 1.4rem;
  resize: none;
  padding: 16px 15px 16px 0;
  overflow: hidden;
}

.user-icon {
  position: relative;
  width: 75px;
  height: 75px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid transparent;
}

.user-icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer; /* Указатель при наведении */
}

.send-btn {
  cursor: pointer; /* Указатель при наведении */
  font-size: 40px; /* Размер шрифта */
  border: none; /* Без рамки */
  background: transparent; /* Прозрачный фон */
  transition: color 0.3s; /* Плавный переход цвета */
}

.send-btn.red {
  color: #b50919; /* Красный цвет для кнопки, если активен красный пользователь */
}

.send-btn.yellow {
  color: #fdd710; /* Желтый цвет для кнопки, если активен желтый пользователь */
}

.message-time {
  display: block; /* Переносим время на новую строку */
  text-align: right; /* Выровнять текст по правому краю */
  font-size: 0.8em; /* Уменьшить размер шрифта для времени */
  margin-top: 4px; /* Добавить небольшой отступ сверху */
  color: gray; /* Цвет времени */
}
